.container {
  background-color: #336ce5;
  display: flex;
  flex-direction: column;
}

.body {
  background-color: #eff4ff;
  min-height: 100vh;
  padding: 5%;
  margin: 0;
  height: auto;
}

.mainCard {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.stateQuiz {
  font-weight: bold;
  color: white;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #336ce5;
}
.titleCard {
  font-weight: bold;
  color: white;
  padding: 1%;
  background-color: #648de5;
  .category {
    text-align: center;
  }
  .title {
    font-size: xx-large;
  }
}

.headCard {
  background-color: white;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  margin: auto;
  overflow: hidden; /* 角丸を適用 */
  border-radius: 10px; /* 全体に角丸を適用 */
}
.questionCard,
.expCard {
  background-color: white;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  margin: auto;
  font-weight: bold;
  padding: 1%;
  .qTitle {
    font-size: x-large;
    margin-bottom: 10px;
  }

  .qDetail {
    font-size: large;
  }
}

.expCard {
  max-height: 60vh; /* 最大高さを設定 */
  overflow-y: auto; /* 縦方向のスクロールを許可 */
}

.choiceCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choices {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.btn {
  all: unset;
  background-color: white;
  text-align: center;
  padding: 10%;
  font-size: large;
  border-radius: 10px; /* 全体に角丸を適用 */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #e98d33;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.homeBtn {
  width: 20%;
  all: unset;
  background-color: white;
  border-radius: 5px;
  padding: 15px 15px;
  cursor: pointer;
  text-align: center;
}

.homeBtn:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 4px;
  transition: outline-offset 0.2s ease;
}
