.container {
  background-color: white;
  border-radius: 10px;
}

.MultiContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.MultiCard {
}

.localContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.localBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 800px) {
  .localContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}

.localCard {
  background-color: #eff4ff;
  border: solid none 2px;
  border-radius: 10px;
  margin: 1%;
  padding: 2%;
  flex-direction: row;
}

.localText {
}

.localButton {
}
