.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 5% 0;
}

.multiContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .multiCard {
  border: solid 3px #b393ed;
} */

.localContainer,
.multiContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.localBody,
.multiBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2% 0;
  h2 {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .localContainer,
  .multiContainer {
    width: 100%;
  }
}

.localCard,
.multiCard {
  background-color: #eff4ff;
  border: solid none 2px;
  border-radius: 10px;
  margin: 1%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
}

.localBtn,
.multiBtn {
  display: flex;
  align-items: end;
  text-align: center;
  width: 13%;
  > * {
    /* 直下の子要素 */
    background-color: #e98d33;
    color: white;
    border-radius: 15px;
    width: 100%;
    border: none;
    font-size: medium;
    cursor: pointer;
  }
}
