.container {
  color: white;
  display: flex;
  justify-content: center;
  padding: 10% 0;
}

.body {
  display: flex;
  flex-direction: column;
}

.logo {
  min-width: 70px;
  min-height: 70px;
  width: 20%;
  height: auto;
  margin-right: 5px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 7%;
}

.appName {
  min-height: 70px;
  font-size: 70px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

@media (max-width: 600px) {
  .text {
    height: 60%;
  }
  .logo {
    height: 10%;
  }
  .appName {
    font-size: 40px;
  }
}
