.container {
  background-color: #336ce5;
  height: 100vh;
}

.body {
  background-color: #eff4ff;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.profileCard {
  background-color: white;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.prfText {
  display: flex;
}

.prfHead {
  display: flex;
  justify-content: start;
  width: 10%;
}

.prfBody {
  display: flex;
  justify-content: center;
  width: 80%;
}
